<div class="row">
  <div class="col-md-offset-10 text-right">
    <button ng-click="vm.showCreatePost()">Add New Post</button>
  </div>

  <form class="form form-horizontal" ng-show="vm.createPost" ng-submit="vm.addPost()">
    <label for="">Title:</label>
    <input class="form-control" ng-class="titleInvalid ? 'invalid' : 'valid'" type="text" placeholder="Title" ng-model="vm.newTitle">

    <label for="">Image Url:</label>
    <input class="form-control" type="text" ng-class="imageInvalid ? 'invalid' : 'valid'"   placeholder="Image Url" ng-model="vm.newImage">

    <label for="">Description:</label>
    <input class="form-control" type="text"  ng-class="descriptionInvalid ? 'invalid' : 'valid'" placeholder="Description" ng-model="vm.newDescription">
    <br>
    <button class="btn btn-default col-md-offset-10 col-md-2 text-right" type="submit">Submit Post</button>
  </form>

</div>
